
# BEGIN BackUpWordPress
# El archivo de seguridad .htaccess evita que otros puedan descargar tus copias de seguridad.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=1a8e4d7c31521cf17a58401f7d5230b7
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
