
# BEGIN BackUpWordPress
# El archivo de seguridad .htaccess evita que otros puedan descargar tus copias de seguridad.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=178d713f71bfa318e51e18b200924538
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
