
# BEGIN BackUpWordPress
# El archivo de seguridad .htaccess evita que otros puedan descargar tus copias de seguridad.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=3cf9cbf07e9548e8df0ff6ab1debe91c
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
